*, html{
    margin: 0;
    padding: 0;
}
html{
    width: 100vw;
    overflow-x: hidden;
}
body {
    background-color: white;
}

.div-nb{
    display: flex;
    align-items: center;
    display: flex;
    background-color: red;
    opacity: .5;
    width: 100%;
    height: 50px;
    position: fixed;
}

.div-nb a.active, a:hover{
    background: rgba(0, 0, 0, 10);
    transition: 0.5s;
}

.div-nb .left{
    padding-left: 30px;
    display: flex;
    width: 30%;
    
}

.div-nb span{
    color: white;
    font-size: 25px;
}

.div-nb .right{
    justify-content: right;
    display: flex;
    width: 70%;
}

.li-nb{
    display: flex;
}

.li-nb1{
    font-size: 23px;
    cursor: pointer;
    color: white;
    padding: 30px;
    font-size: large;
}
.li-nb2{
    font-size: 23px;
    cursor: pointer;
    color: white;
    padding: 30px;
    font-size: large;
}
.li-nb3{
    font-size: 23px;
    cursor: pointer;
    font-size: 23px;
    cursor: pointer;
    color: white;
    padding: 30px;
    font-size: large;
}
.li-nb4{
    font-size: 23px;
    cursor: pointer;
    color: white;
    padding: 30px;
    font-size: large;
}

.li1-nb{
    font-size: 23px;
    cursor: pointer;
    color: white;
    list-style-type: none;
    padding: 30px;
    padding-right: 100px;
    /* border-left: 5px solid white ; */
    font-size: large;
}

.home{
    display: flex;
    background: url("Gambar/bg.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
    justify-content: left;
    align-items: center;
    padding-right: 200;
}

.home-content{
    padding-left: 400px;
}

.home .home-content .text-1{
    font-size: 27px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    font-weight: 100;
}
.home .home-content .text-3 span{
    color: yellow;
}

.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.about{
    /* display: flex; */
    background-color: white;
    width: 100%;
    height: 100vh;
}

.wadah-about{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wadah2-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.about .wadah2-about .right{
    width: 55%;
}

.about .wadah2-about .left{
    padding-left: 50;
    width: 35%;
}

.text-atas{
    color: red;
}

.text{
    padding-right: 100px;
}

.about .wadah2-about a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.skill{
    background-color: black;
    width: 100%;
    height: 100vh;
}

.skill .wadah-skill{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.skill .wadah-skill h1{
    color: white;
}

.wadah2-skill{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.skill .wadah2-skill .left{
    width: 60%;
}

.skill .wadah2-skill .right{
    width: 40%;
}

.text-skill1{
    color: white;
    font-size: 40px;
}

.d-text{
    color: red;
    font-size: 30;
    font-weight: 100;
}

.sertif{
    background-color: white;
    width: 100%;
    height: 100vh;
}

.wadah-sertif{
    display: flex;  
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wadah2-sertif{
    display: flex;  
    height: 75%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.wadah2-sertif a{
    width: 300px;
    height: 350px;
}
.grid{
    width: 300px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin: 80px; */
    justify-content: center;
    align-items: center;
    grid-gap: 30px;

}

img{
    object-fit: cover;
}

.grid > article{
    box-shadow: 5px 5px 5px 0px red;
    border-radius: 15px;
    text-align: center;
    background-color: black;
    color: white;
    transition: transform;
    cursor: pointer;
}

.grid > article img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.konten a{
    color: white;
}
.grid > article:hover{
    transform:scale(1.05);
}

.contact{
    background-color: black;
    color: white;
    width: 100%;
    height: 100vh;
}

.contact .wadah-c{
    display: flex;
    height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;

}

.contact .wadah2-c{
    display: flex;
    height: 75%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

.contact .wadah2-c .left{
    width: 50%;
}

.contact .wadah2-c .right{
    width: 50%;
}

.contact .wadah2-c .header-c{
    font-size: 25px;
    color: white;
    padding-bottom: 15px;
    padding-left: 20px;
}

.contact .wadah2-c .icon-c {
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.contact .wadah2-c .icon-c img{
    display: flex;
    align-items: center;
    float: left;

}
.contact .wadah2-c .icon-c b{
    font-size: 20px;
    color: red;
    padding-left: 30px;
}
.contact .wadah2-c .icon-c p{
    color: white;
    padding-left: 60px;
}

.contact .wadah2-c .git{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.contact .wadah2-c .git img{
    padding-right: 20px;
}

footer{
    background: grey;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: crimson;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}