*, html{
    margin: 0;
    padding: 0;
}
html{
    /* width: 100vw; */
    overflow-x: hidden;
}
body {
    background-color: white;
}

.div-nb{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: red;
    width: 100vw;
    height: 50px;
    position: fixed;
    z-index: 1;
}

.div-nb a.active, a:hover{
    transition: 0.5s;
    transform: scale(1.15);
    color: black;
}

.div-nb ul{
    display: flex;
    width: 70%;
    padding-left: 30px;
    color: white;
}

.li-nb{
    display: flex;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

.li-nb1{
    color: white;
}

.div-nb .welcome{
    justify-content: left;
    padding-right: 30px;
    width: 350px;
}

.div-nb span{
    justify-content: right;
    color: white;
    font-size: 20px;
}

.content h1{
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: red;
}
.content p{
    color: black;
    text-indent: 2em;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    padding-bottom: 50px;
}


.content .list-k h1{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 30px;
    color: red;
}
.content .list-k{
    background-color: black;
    padding-bottom: 50px;
}
.content .list-k ul{
    list-style-type: none;
    padding-top: 20px;
    padding-left: 50px;
}
.content .list-k .lp .lpa{
    font-size: 20px;
    color: white;
}